@page "/create-post"

@inject IPostEndpoint _postEndpoint
@inject NavigationManager _nav
@inject IConfiguration _config

<PageTitle>Kyle Givler's Blog</PageTitle>

<div class="row justify-content-center">
    <div class="col-12 col-xl-10">
        <div class="mb-2" style="color: tomato;">
            @_error
        </div>

        <EditForm Model="@_post" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <label>Title</label>
            <InputText class="form-control" @bind-Value="_post.Title" />
            <label>Abstract</label>
            <InputText class="form-control" @bind-Value="_post.Abstract" />
            <lable>Content</lable>
            <Editor Field="() => _post.Content" @bind-Value="_post.Content" ScriptSrc="@_config["TinyMce"]" Conf="@_editorConf" />
            <label>Password</label>
            <InputText type="password" class="form-control" @bind-Value=_post.Password />
            <button type="submit" class="btn btn-primary mt-1">Add Post</button>
        </EditForm>
    </div>
</div>

@code {
    private Post _post = new Post();
    private string _error = string.Empty;

    private Dictionary<string, object> _editorConf = new Dictionary<string, object>{
        {"plugins", "advlist autolink link image lists charmap preview codesample code"},
        {"toolbar", "undo redo | styles | bold italic underline | fontfamily fontsize forecolor | link image | codesample"},
        {"statusbar", false},
        {"codesample_global_prismjs", true},
   };

    private async Task HandleValidSubmit()
    {
        try
        {
            await _postEndpoint.PostAsync(_post);
            _nav.NavigateTo("/");
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
    }
}
